.element__card-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 21px;
    padding-right: 30px;
    padding-top: 25px;

}